SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,backend,127.0.0.1
DJANGO_ENV=prod

DB_NAME=sedas
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

ADMIN_EMAIL=admin@sedas.org
ADMIN_NAME=Admin
ADMIN_SURNAME=Adminson
ADMIN_PASSWORD=admin